#adminWorksInner {
    background-color: lightgray;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        padding: 30px;
        text-align: center;
    }
    #preAddNewPiece {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #addNewPiece {
        width: 400px;
        margin: 20px;
        h4 {
            text-align: center;
        }
    }
}
.worksTd {
    padding: 5px;
}
.narrowTd {
    max-width: 100px;
    overflow: scroll;
    text-overflow: ellipsis;
    padding: 5px;
}