footer {
    color: grey;
    #footerInner {
        width: 400px;
        #footerLogo {
            margin: 25px;
            a {
                font-size: 19px;
                font-weight: bold;
                text-transform: uppercase;
            }
            a:hover {
                color: white;
            }
        }
        #footerMenu {
            margin: 25px;
            ul {
                display: flex;
                justify-content: space-around;
                list-style-type: none;
                a:hover {
                    color: white;
                }
            }
        }
        #footerSocial {
            margin: 25px;
            display: flex;
            justify-content: space-around;
            div {
                width: 30px;
                height: 30px;
                background-color: grey;
                border-radius: 50%;
                a {
                    img {
                        width: 30px;
                        height: 30px; 
                    }
                }
                a:hover {
                    transition: filter .5s;
                    filter: invert(100);
                    img {
                        transform: scale(0.9);
                    }
                }
            }
        }
        #footerCopyright {
            margin: 25px;
        }
        a {
            color: grey;
        }
        hr {
            background-color: lightgrey;
        }
    }
}