<footer>
    <div id="footerInner">
        <div id="footerLogo">
            <a routerLink="home">Богдан Сегін</a>
        </div>
        <div id="footerMenu">
            <ul>
                <li routerLinkActive="active"><a routerLink="about">Біо</a></li>
                <li routerLinkActive="active"><a routerLink="news">Події</a></li>
                <li routerLinkActive="active"><a routerLink="works">Твори</a></li>
                <li routerLinkActive="active"><a routerLink="projects">Проєкти</a></li>
                <li routerLinkActive="active"><a routerLink="contact">Контакт</a></li>
            </ul>
        </div>
        <div id="footerSocial">
            <div><a href="https://www.facebook.com/bohdan.sehin"><img src="../../../assets/facebook-logo.png" alt="" srcset=""></a></div>
            <div><a href="https://soundcloud.com/bohdansehin"><img src="../../../assets/soundcloud-logo.png" alt="" srcset=""></a></div>
            <div><a href="https://www.youtube.com/channel/UCK8ZrQlSd0ZvTHsUJpRAX7Q"><img src="../../../assets/youtube.png" alt="" srcset=""></a></div>
        </div>
        <div id="footerCopyright">© <span>{{date | date: 'y'}}</span> Богдан Сегін. Всі права захищені.
            <div id="siteDeveloper">Розробник: <a href="https://nskrprogrammer.firebaseapp.com/" target="_blank">Назар Скрипник</a></div>
            <div id="sitePhotographer">Фото: <a href="http://serhiyhorobets.com/en" target="_blank">Сергій Горобець</a></div>
        </div>
    </div>
</footer>

