<footer>
    <div id="footerInner">
        <div id="footerLogo">
            <a routerLink="home">Bohdan Sehin</a>
        </div>
        <div id="footerMenu">
            <ul>
                <li routerLinkActive="active"><a routerLink="about">Біо</a></li>
                <li routerLinkActive="active"><a routerLink="portfolio">Новини</a></li>
                <li routerLinkActive="active"><a routerLink="blog">Твори</a></li>
                <li routerLinkActive="active"><a routerLink="blog">Проєкти</a></li>
                <li routerLinkActive="active"><a routerLink="contact">Контакт</a></li>
            </ul>
        </div>
        <div id="footerSocial">
            <div><a href=""><img src="../../../assets/facebook-logo.png" alt="" srcset=""></a></div>
            <div><a href=""><img src="../../../assets/soundcloud-logo.png" alt="" srcset=""></a></div>
            <div><a href=""><img src="../../../assets/youtube.png" alt="" srcset=""></a></div>
        </div>
        <div id="footerCopyright">© 2019 Богдан Сегін. All rights reserved.</div>
    </div>
</footer>

