<header (window:scroll)="fixedScroll()">
    <div id="logo">
        <a routerLink="home" (click)="removeActive()">Богдан Сегін</a> <p><a routerLink="home" (click)="removeActive()">УКР</a> | <a routerLink="english" (click)="removeActive()">ENG</a></p>
    </div>
    <div id="menuArea">
        <input type="checkbox" id="menuToggle">
        <label for="menuToggle" class="menuOpen">
            <div class="open"></div>
        </label>
        <div class="menu menuEffects" (click)="closeMenu()">
            <div class="menuContent">
                <ul>
                    <li routerLinkActive="active" (click)="setActive($event)">
                        <a routerLink="about" class="navLink">Біо</a>
                    </li>
                    <li routerLinkActive="active" (click)="setActive($event)">
                        <a routerLink="news" class="navLink">Новини</a>
                    </li>
                    <li routerLinkActive="active" (click)="setActive($event)">
                        <a routerLink="works" class="navLink">Твори</a>
                    </li>
                    <li routerLinkActive="active" (click)="setActive($event)">
                        <a routerLink="projects" class="navLink">Проєкти</a>
                    </li>
                    <li routerLinkActive="active" (click)="setActive($event)">
                        <a routerLink="contact" class="navLink">Контакт</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
