#contact {
    #contactBackground {
        background-color: black;
    }
    #contactInfo {
        background-color: lightgray;
        padding: 100px 0;
        text-align: center;
        h5 {
            margin-top: 50px;
        }
    }
}