<div id="contact">
    <div id="contactBackground" class="fixedBackground">
        <app-title-opacity [title]=title></app-title-opacity>
    </div>
    <app-transparent></app-transparent>
    <div id="contactInfo">
        <h4>Богдан Сегін</h4>
        <p>bohdansehin@yahoo.com</p>
        <h5>Львівська національна філармонія</h5>
        <p>вул. Чайковського, 7<br>
            79000 Львів<br>
            Україна     
        </p>
        <h5>Міжнародний фестиваль сучасної музики «Контрасти»</h5>
        <p>http://contrasts.org.ua/<br>
            contrastsfestival@gmail.com    
        </p>
        <h5>Ensemble Nostri Temporis</h5>
        <p>entmusic.org<br>
            ensemblenostritemporis@gmail.com    
        </p>
    </div>
</div>
