<div id="adminProjectsInner">
    <h2>Проєкти</h2>
    <h4>Довготривалі проєкти</h4>
    <div id="regularProjectTable" *ngIf="projects">
        <table mat-table [dataSource]="projects | chapterizeProjects: true" class="full-width">
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef class="normalTh">#</th>
                <td mat-cell *matCellDef="let project; let i = index" class="paddingTd"> {{i}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Назва</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">{{project.title}}</td>
            </ng-container>
            <ng-container matColumnDef="imageUrl">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Зображення</th>
                <td mat-cell *matCellDef="let project" class="narrowTd" >{{project.imageUrl}}</td>
            </ng-container>
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Посада</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">{{project.position}}</td>
            </ng-container>
            <ng-container matColumnDef="dateFrom">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Дата з</th>
                <td mat-cell *matCellDef="let project" class="narrowTd" >{{project.dateFrom}}</td>
            </ng-container>
            <ng-container matColumnDef="dateTo">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Дата до</th>
                <td mat-cell *matCellDef="let project" class="narrowTd" >{{project.dateTo}}</td>
            </ng-container>
            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Інфо</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">{{project.info}}</td>
            </ng-container>
            <ng-container matColumnDef="websiteUrl">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Сайт</th>
                <td mat-cell *matCellDef="let project" class="narrowTd" >{{project.websiteUrl}}</td>
            </ng-container>
            <ng-container matColumnDef="links">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Лінки</th>
                <td mat-cell *matCellDef="let project" class="narrowTd" >
                    {{project.facebookUrl}},
                    {{project.soundcloudUrl}},
                    {{project.youtubeUrl}}</td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Ред</th>
                <td mat-cell *matCellDef="let project" class="paddingTd">
                    <button mat-mini-fab color="accent" (click)="editProject(project)">Ред</button>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Вид</th>
                <td mat-cell *matCellDef="let project" class="paddingTd">
                    <button mat-mini-fab color="warn" (click)="deleteProject(project)">Вид</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>          
    </div>
    <h4>Короткотривалі проєкти</h4>
    <div id="rareProjectTable" *ngIf="projects">
        <table mat-table [dataSource]="projects | chapterizeProjects: false" class="full-width">
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef class="normalTh">#</th>
                <td mat-cell *matCellDef="let project; let i = index" class="paddingTd"> {{i}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Назва</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">{{project.title}}</td>
            </ng-container>
            <ng-container matColumnDef="imageUrl">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Зображення</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">{{project.imageUrl}}</td>
            </ng-container>
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Посада</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">{{project.position}}</td>
            </ng-container>
            <ng-container matColumnDef="dateFrom">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Дата з</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">{{project.dateFrom}}</td>
            </ng-container>
            <ng-container matColumnDef="dateTo">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Дата до</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">{{project.dateTo}}</td>
            </ng-container>
            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Інфо</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">{{project.info}}</td>
            </ng-container>
            <ng-container matColumnDef="websiteUrl">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Сайт</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">{{project.websiteUrl}}</td>
            </ng-container>
            <ng-container matColumnDef="links">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Лінки</th>
                <td mat-cell *matCellDef="let project" class="narrowTd">
                    {{project.facebookUrl}},
                    {{project.soundcloudUrl}},
                    {{project.youtubeUrl}}</td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Ред</th>
                <td mat-cell *matCellDef="let project" class="paddingTd">
                    <button mat-mini-fab color="accent" (click)="editProject(project)">Ред</button>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="normalTh">Вид</th>
                <td mat-cell *matCellDef="let project" class="paddingTd">
                    <button mat-mini-fab color="warn" (click)="deleteProject(project)">Вид</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>          
    </div>
    <div id="addProject" [hidden]="submitted">
        <h4 [hidden]="update">Додати проєкт</h4>
        <h4 [hidden]="!update">Редагувати проєкт</h4>
        <form class="example-form" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <input 
                    matInput 
                    type="text"
                    id="projectTitle"
                    name="projectTitle"
                    [(ngModel)]="project.title"
                    required
                    placeholder="Назва проєкту(без лапок):">
                    <mat-error *ngIf="!project.title">Введи назву!</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input 
                    matInput 
                    type="text"
                    id="projectPosition"
                    name="projectPosition"
                    [(ngModel)]="project.position"
                    required
                    placeholder="Посада:">
                    <mat-error *ngIf="!project.position">Введи посаду!</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <textarea 
                    matInput 
                    id="projectInfo"
                    name="projectInfo"
                    [(ngModel)]="project.info"
                    required
                    placeholder="Інфо">
                </textarea>
                <mat-error *ngIf="!project.info">Додай інфо!</mat-error>
            </mat-form-field>
            <section>
                <mat-checkbox 
                    id="projectRegular" 
                    name="projectRegular" 
                    [(ngModel)]="project.regular">Довготривалий
                </mat-checkbox>
            </section>
            <mat-form-field>
                <input 
                    matInput 
                    [matDatepicker]="pickerFrom" 
                    placeholder="Дата з (або одна)"
                    id="projectDateFrom"
                    name="projectDateFrom"
                    [(ngModel)]="project.dateFrom"
                    required>
                    <!-- (ngModelChange)="onDataChange($event)" -->
                    <mat-error *ngIf="!project.dateFrom">Одна дата обов'язково!</mat-error>
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput
                    [matDatepicker]="pickerTo" 
                    placeholder="Дата до (якщо є)"
                    id="projectDateTo"
                    name="projectDateTo"
                    [(ngModel)]="project.dateTo">
                    <!-- (ngModelChange)="onDataChange($event)" -->
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input 
                    matInput
                    type="text" 
                    id="projectWebsiteUrl"
                    name="projectWebsiteUrl"
                    [(ngModel)]="project.websiteUrl"
                    placeholder="Лінк на сайт:">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input 
                    matInput 
                    type="text"
                    id="projectFacebookUrl"
                    name="projectFacebookUrl"
                    [(ngModel)]="project.facebookUrl"
                    placeholder="Лінк на фб:">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input 
                    matInput
                    type="text" 
                    id="projectSoundcloudUrl"
                    name="projectSoundcloudUrl"
                    [(ngModel)]="project.soundcloudUrl"
                    placeholder="Лінк на soundcloud:">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input 
                    matInput
                    type="text" 
                    id="projectYoutubeUrl"
                    name="projectYoutubeUrl"
                    [(ngModel)]="project.youtubeUrl"
                    placeholder="Лінк на youtube:">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input 
                    matInput 
                    type="text"
                    id="projectImageUrl"
                    name="projectImageUrl"
                    [(ngModel)]="project.imageUrl"
                    required
                    placeholder="Лінк на картинку">
                    <mat-error *ngIf="!project.imageUrl">Тут має бути лінк!</mat-error>
            </mat-form-field>
            <app-upload-file [fileAccept]="fileAccept" [filePath]="filePath" (fileUrl)="getUrl($event)"></app-upload-file>
            <hr>
            <button mat-stroked-button type="submit" [hidden]="update">Додати</button>
            <button mat-stroked-button (click)="updateProject()" [hidden]="!update">Оновити</button>
        </form>
    </div>
    <div [hidden]="!submitted" id="preAddProject">
        <button mat-raised-button (click)="newProject()">Новий</button>
    </div>
</div>
