#news {
    width: 100vw;
    height: 100vh;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/bohdansehinwebsite.appspot.com/o/testBack.jpg?alt=media&token=88298e38-7adc-4c39-b86d-372035a67a63');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}