#news {
    #newsBackground {
        background-image: url('../../../assets/newsBack.JPG');
    }
    #newsInner {
        background-color: white;
        padding: 20px;
        .newsOne {
            .newsOneTitle {
                color: brown;
            }
            .newsOneInfo {
                .newsOneImage {
                    width: 200px;
                    float: left;
                    margin: 0 15px 15px 0;
                }
            }
            .newsOneFooter {
                a {
                    color: brown;
                }
                a:hover {
                    color: white;
                    background-color: black;
                }
            }
        }
    }
}