#about {
    margin-bottom: 0;
    #aboutBackground {
        background-image: url('../../../assets/aboutBack.JPG');
    }
    #aboutBio {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2 {
            padding: 20px;
        }
        p {
            padding: 20px 50px;
            text-align: justify;
        }
        #aboutPressKit {
            p {
                text-align: center;
                font-size: 10px;
            }
        }
    }
}