<div id="about">
    <div id="aboutBackground" class="fixedBackground">
        <app-title-opacity [title]=title></app-title-opacity>
    </div>
    <app-transparent></app-transparent>
    <div id="aboutBio" *ngIf="about">
        <h2>Богдан Сегін</h2>
        <p>{{about.bio}}</p>
        <div id="aboutPressKit">
            <button mat-stroked-button><a download="filename" href="{{about.pressKitUrl}}" target="_blank">Прес-кіт</a></button>
            <p>Включає фото високої якості, повну біографію українською та англійською мовами.<br>
                Натиснувши кнопку ви зможете все це завантажити у вигляді zip-архіву.</p>
        </div>
    </div>
</div>
