<div id="admin">
    <div id="adminBackground" class="fixedBackground">
        <app-title-opacity [title]=title></app-title-opacity>
    </div>
    <app-transparent></app-transparent>
    <div id="adminList">
        <ul>
            <li><a (click)="onScrollElem('adminAbout')">Біо</a></li>
            <li><a (click)="onScrollElem('adminWorks')">Твори</a></li>
            <li><a (click)="onScrollElem('adminProjects')">Проєкти</a></li>
            <li><a (click)="onScrollElem('adminNews')">Новини</a></li>
        </ul>
    </div>
    <app-admin-about id="adminAbout"></app-admin-about>
    <app-admin-works id="adminWorks"></app-admin-works>
    <app-admin-projects id="adminProjects">
        <app-upload-image></app-upload-image>
    </app-admin-projects>
    <app-admin-news id="adminNews"></app-admin-news>
</div>
