#home {
    #homeBackground {
        background-image: url('../../../assets/homeBack.JPG');
    }
    #homeNews {
        height: 70vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}