#works {
    margin-bottom: 0;
    #worksBackground {
        background-image: url('../../../assets/worksBack4.png');
    }
    #worksNav {
        background-color: white;
        padding: 10px 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
        z-index: 3;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin-bottom: 0;
            li {
                list-style-type: none;
                text-transform: uppercase;
                a {
                    cursor: pointer;
                }
                a:hover {
                    color: black;
                }
            }
        }
    }
    .worksSection {
        display: flex;
        flex-direction: column;
        padding: 20px;
        h4 {
            text-align: center;
            text-transform: uppercase;
            padding: 20px 0;
            font-size: 20px;
            letter-spacing: 4px;
        }
        p {
            .titleText {
                letter-spacing: 1px;
            }
            .orderText {
                font-weight: 600;
                font-style: italic;
            }
            a {
                color: brown;
                padding: 2px;
            }
            a:hover {
                color: white;
                background-color: black;
            }
        }
    }
    #worksAll {
        background-color: white;
        #worksChaptered {
            h6 {
                text-transform: uppercase;
                letter-spacing: 4px;
                padding: 20px 0;
            }
        }
    }
    #worksSelected {
        background-color: white;
    }
    #worksSoundcloud {
        width: 100vw;
        background-color: white;
        align-items: center;
    }
    #worksVideo {
        background-color: white;
        #worksVideoExamples {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .worksVideoExample {
                width: 300px;
                margin: 20px;
                text-align: center;
                cursor: pointer;
                .worksVideoImg {
                    img {
                        width: 300px;
                        height: 300px;
                    }
                    margin-bottom: 20px;
                }
                .worksVideoTitle {
                    text-transform: uppercase;
                    font-weight: 700;
                    .worksVideoYear {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
app-video-details {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
}
@media (max-width: 500px) {
    #works {
        #worksNav {
            ul {
                li {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}