<div id="works">
    <div id="worksBackground" class="fixedBackground">
        <app-title-opacity [title]=title></app-title-opacity>
    </div>
    <app-transparent></app-transparent>
    <div id="worksNav">
        <ul>
            <li><a (click)="onScrollElem('worksSelected')">Вибрані твори</a></li>
            <li><a (click)="onScrollElem('worksAll')">Всі твори</a></li>
        </ul>
    </div>
    <div id="worksSelected" class="worksSection">
        <h4>Вибрані твори</h4>
        <div id="worksSelected" *ngIf="works">
            <p *ngFor="let piece of works | selectedWorks">
                <b class="titleText">{{piece.title}}</b>
                -
                {{piece.instr}} 
                <span *ngIf="piece.texts">({{piece.texts}})</span>
                <b>&middot;</b>
                {{piece.duration}}'
                <b>&middot;</b>
                {{piece.year}} <br>
                <span *ngIf="piece.order" class="orderText">{{piece.order}}<br></span>
                <a *ngIf="piece.audioUrl" href="{{piece.audioUrl}}" target="_blank">Audio</a>
                <span *ngIf="piece.audioUrl && piece.videoUrl"> | </span>
                <span *ngIf="piece.audioUrl && piece.pdfUrl && !piece.videoUrl"> | </span>
                <a *ngIf="piece.videoUrl" href="{{piece.videoUrl}}" target="_blank">Video</a>
                <span *ngIf="piece.videoUrl && piece.pdfUrl"> | </span>
                <a *ngIf="piece.pdfUrl" href="{{piece.pdfUrl}}" target="_blank">PDF</a>
            </p>
        </div>
    </div>
    <div id="worksAll" class="worksSection">
        <h4>Всі твори</h4>
        <div id="worksChaptered" *ngIf="works">
            <h6>Соло</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'solo'">
                <b class="titleText">{{piece.title}}</b> 
                -
                {{piece.instr}}
                <span *ngIf="piece.texts" class="lightText">({{piece.texts}})</span>
                <b>&middot;</b>
                {{piece.duration}}'
                <b>&middot;</b>
                {{piece.year}}<br>
                <span *ngIf="piece.order" class="orderText">{{piece.order}}<br></span>
                <a *ngIf="piece.audioUrl" href="{{piece.audioUrl}}" target="_blank">Audio</a>
                <span *ngIf="piece.audioUrl && piece.videoUrl"> | </span>
                <span *ngIf="piece.audioUrl && piece.pdfUrl && !piece.videoUrl"> | </span>
                <a *ngIf="piece.videoUrl" href="{{piece.videoUrl}}" target="_blank">Video</a>
                <span *ngIf="piece.videoUrl && piece.pdfUrl"> | </span>
                <a *ngIf="piece.pdfUrl" href="{{piece.pdfUrl}}" target="_blank">PDF</a> 
            </p>
            <h6>Камерні</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'chamber(2-4)'">
                <b class="titleText">{{piece.title}}</b> 
                -
                {{piece.instr}}
                <span *ngIf="piece.texts" class="lightText">({{piece.texts}})</span>
                <b>&middot;</b>
                {{piece.duration}}'
                <b>&middot;</b>
                {{piece.year}}<br>
                <span *ngIf="piece.order" class="orderText">{{piece.order}}<br></span>
                <a *ngIf="piece.audioUrl" href="{{piece.audioUrl}}" target="_blank">Audio</a>
                <span *ngIf="piece.audioUrl && piece.videoUrl"> | </span>
                <span *ngIf="piece.audioUrl && piece.pdfUrl && !piece.videoUrl"> | </span>
                <a *ngIf="piece.videoUrl" href="{{piece.videoUrl}}" target="_blank">Video</a>
                <span *ngIf="piece.videoUrl && piece.pdfUrl"> | </span>
                <a *ngIf="piece.pdfUrl" href="{{piece.pdfUrl}}" target="_blank">PDF</a>
            </p>
            <h6>Ансамбль</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'ensemble(5+)'">
                <b class="titleText">{{piece.title}}</b> 
                -
                {{piece.instr}}
                <span *ngIf="piece.texts" class="lightText">({{piece.texts}})</span>
                <b>&middot;</b>
                {{piece.duration}}'
                <b>&middot;</b>
                {{piece.year}}<br>
                <span *ngIf="piece.order" class="orderText">{{piece.order}}<br></span>
                <a *ngIf="piece.audioUrl" href="{{piece.audioUrl}}" target="_blank">Audio</a>
                <span *ngIf="piece.audioUrl && piece.videoUrl"> | </span>
                <span *ngIf="piece.audioUrl && piece.pdfUrl && !piece.videoUrl"> | </span>
                <a *ngIf="piece.videoUrl" href="{{piece.videoUrl}}" target="_blank">Video</a>
                <span *ngIf="piece.videoUrl && piece.pdfUrl"> | </span>
                <a *ngIf="piece.pdfUrl" href="{{piece.pdfUrl}}" target="_blank">PDF</a>
            </p>
            <h6>Оркестр</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'orchestra'">
                <b class="titleText">{{piece.title}}</b> 
                -
                {{piece.instr}}
                <span *ngIf="piece.texts" class="lightText">({{piece.texts}})</span>
                <b>&middot;</b>
                {{piece.duration}}'
                <b>&middot;</b>
                {{piece.year}}<br>
                <span *ngIf="piece.order" class="orderText">{{piece.order}}<br></span>
                <a *ngIf="piece.audioUrl" href="{{piece.audioUrl}}" target="_blank">Audio</a>
                <span *ngIf="piece.audioUrl && piece.videoUrl"> | </span>
                <span *ngIf="piece.audioUrl && piece.pdfUrl && !piece.videoUrl"> | </span>
                <a *ngIf="piece.videoUrl" href="{{piece.videoUrl}}" target="_blank">Video</a>
                <span *ngIf="piece.videoUrl && piece.pdfUrl"> | </span>
                <a *ngIf="piece.pdfUrl" href="{{piece.pdfUrl}}" target="_blank">PDF</a>
            </p>
            <h6>Хор</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'choir'">
                <b class="titleText">{{piece.title}}</b> 
                -
                {{piece.instr}}
                <span *ngIf="piece.texts" class="lightText">({{piece.texts}})</span>
                <b>&middot;</b>
                {{piece.duration}}'
                <b>&middot;</b>
                {{piece.year}}<br>
                <span *ngIf="piece.order" class="orderText">{{piece.order}}<br></span>
                <a *ngIf="piece.audioUrl" href="{{piece.audioUrl}}" target="_blank">Audio</a>
                <span *ngIf="piece.audioUrl && piece.videoUrl"> | </span>
                <span *ngIf="piece.audioUrl && piece.pdfUrl && !piece.videoUrl"> | </span>
                <a *ngIf="piece.videoUrl" href="{{piece.videoUrl}}" target="_blank">Video</a>
                <span *ngIf="piece.videoUrl && piece.pdfUrl"> | </span>
                <a *ngIf="piece.pdfUrl" href="{{piece.pdfUrl}}" target="_blank">PDF</a>
            </p>
            <h6>Голос/Хор і Ансамбль/Оркестр</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'voice/choir & ensemble/orchestra'">
                <b class="titleText">{{piece.title}}</b> 
                -
                {{piece.instr}}
                <span *ngIf="piece.texts" class="lightText">({{piece.texts}})</span>
                <b>&middot;</b>
                {{piece.duration}}'
                <b>&middot;</b>
                {{piece.year}} &middot; <br>
                <span *ngIf="piece.order" class="orderText">{{piece.order}}<br></span>
                <a *ngIf="piece.audioUrl" href="{{piece.audioUrl}}" target="_blank">Audio</a>
                <span *ngIf="piece.audioUrl && piece.videoUrl"> | </span>
                <span *ngIf="piece.audioUrl && piece.pdfUrl && !piece.videoUrl"> | </span>
                <a *ngIf="piece.videoUrl" href="{{piece.videoUrl}}" target="_blank">Video</a>
                <span *ngIf="piece.videoUrl && piece.pdfUrl"> | </span>
                <a *ngIf="piece.pdfUrl" href="{{piece.pdfUrl}}" target="_blank">PDF</a> 
            <h6>Електроніка</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'electronics'">
                <b class="titleText">{{piece.title}}</b> 
                -
                {{piece.instr}}
                <span *ngIf="piece.texts" class="lightText">({{piece.texts}})</span>
                <b>&middot;</b>
                {{piece.duration}}'
                <b>&middot;</b>
                {{piece.year}}<br>
                <span *ngIf="piece.order" class="orderText">{{piece.order}}<br></span>
                <a *ngIf="piece.audioUrl" href="{{piece.audioUrl}}" target="_blank">Audio</a>
                <span *ngIf="piece.audioUrl && piece.videoUrl"> | </span>
                <span *ngIf="piece.audioUrl && piece.pdfUrl && !piece.videoUrl"> | </span>
                <a *ngIf="piece.videoUrl" href="{{piece.videoUrl}}" target="_blank">Video</a>
                <span *ngIf="piece.videoUrl && piece.pdfUrl"> | </span>
                <a *ngIf="piece.pdfUrl" href="{{piece.pdfUrl}}" target="_blank">PDF</a>
            </p>
            <h6>Театр/Сцена</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'theatre/stage'">
                <b class="titleText">{{piece.title}}</b> 
                -
                {{piece.instr}}
                <span *ngIf="piece.texts" class="lightText">({{piece.texts}})</span>
                <b>&middot;</b>
                {{piece.duration}}'
                <b>&middot;</b>
                {{piece.year}}<br>
                <span *ngIf="piece.order" class="orderText">{{piece.order}}<br></span>
                <a *ngIf="piece.audioUrl" href="{{piece.audioUrl}}" target="_blank">Audio</a>
                <span *ngIf="piece.audioUrl && piece.videoUrl"> | </span>
                <span *ngIf="piece.audioUrl && piece.pdfUrl && !piece.videoUrl"> | </span>
                <a *ngIf="piece.videoUrl" href="{{piece.videoUrl}}" target="_blank">Video</a>
                <span *ngIf="piece.videoUrl && piece.pdfUrl"> | </span>
                <a *ngIf="piece.pdfUrl" href="{{piece.pdfUrl}}" target="_blank">PDF</a>
            </p>
        </div>
        <div id="chamberWorks"></div>
    </div>
</div>