<div id="works">
    <div id="worksBackground" class="fixedBackground">
        <app-title-opacity [title]=title></app-title-opacity>
    </div>
    <app-transparent></app-transparent>
    <div id="worksNav">
        <ul>
            <li><a (click)="onScrollElem('worksSelected')">Вибрані твори</a></li>
            <li><a (click)="onScrollElem('worksAll')">Всі твори</a></li>
        </ul>
    </div>
    <div id="worksSelected" class="worksSection">
        <h4>Вибрані твори</h4>
        <div id="worksSelected" *ngIf="works">
            <p *ngFor="let piece of works | selectedWorks">
                <b>{{piece.title}} </b> <b>&middot;</b>
                {{piece.instr}} <b>&middot;</b>
                {{piece.duration}}' <b>&middot;</b>
                {{piece.year}} <br>
                (<a href="https://soundcloud.com/nazar-skrypnyk/451a" target="_blank">Audio</a>
                | <a href="https://www.youtube.com/watch?v=Xx3tNahq54A" target="_blank">Video</a>
                | <a href="https://firebasestorage.googleapis.com/v0/b/bohdansehinwebsite.appspot.com/o/HP%207%3A1%20suite%201.pdf?alt=media&token=ea3bdf7e-4b14-46fb-b303-1b905c04fa58" target="_blank">PDF</a>)
                </p>
        </div>
    </div>
    <div id="worksAll" class="worksSection">
        <h4>Всі твори</h4>
        <div id="worksChaptered" *ngIf="works">
            <h6>Соло</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'solo'">
                <b>{{piece.title}}</b> &middot;
                {{piece.instr}} &middot;
                {{piece.duration}}' &middot;
                {{piece.year}} &middot;
                <a href="https://soundcloud.com/nazar-skrypnyk/451a" target="_blank">Audio</a>
                | <a href="https://www.youtube.com/watch?v=Xx3tNahq54A" target="_blank">Video</a>
                | <a href="https://firebasestorage.googleapis.com/v0/b/bohdansehinwebsite.appspot.com/o/HP%207%3A1%20suite%201.pdf?alt=media&token=ea3bdf7e-4b14-46fb-b303-1b905c04fa58" target="_blank">PDF</a>
            </p>
            <h6>Камерні</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'chamber(2-4)'">
                <b>{{piece.title}}</b> &middot;
                {{piece.instr}} &middot;
                {{piece.duration}}' &middot;
                {{piece.year}} &middot;
                <a href="https://soundcloud.com/nazar-skrypnyk/451a" target="_blank">Audio</a>
                | <a href="https://www.youtube.com/watch?v=Xx3tNahq54A" target="_blank">Video</a>
                | <a href="https://firebasestorage.googleapis.com/v0/b/bohdansehinwebsite.appspot.com/o/HP%207%3A1%20suite%201.pdf?alt=media&token=ea3bdf7e-4b14-46fb-b303-1b905c04fa58" target="_blank">PDF</a>
            </p>
            <h6>Ансамбль</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'ensemble(5+)'">
                <b>{{piece.title}}</b> &middot;
                {{piece.instr}} &middot;
                {{piece.duration}}' &middot;
                {{piece.year}} &middot;
                <a href="https://soundcloud.com/nazar-skrypnyk/451a" target="_blank">Audio</a>
                | <a href="https://www.youtube.com/watch?v=Xx3tNahq54A" target="_blank">Video</a>
                | <a href="https://firebasestorage.googleapis.com/v0/b/bohdansehinwebsite.appspot.com/o/HP%207%3A1%20suite%201.pdf?alt=media&token=ea3bdf7e-4b14-46fb-b303-1b905c04fa58" target="_blank">PDF</a>
            </p>
            <h6>Оркестр</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'orchestra'">
                <b>{{piece.title}}</b> &middot;
                {{piece.instr}} &middot;
                {{piece.duration}}' &middot;
                {{piece.year}} &middot;
                <a href="https://soundcloud.com/nazar-skrypnyk/451a" target="_blank">Audio</a>
                | <a href="https://www.youtube.com/watch?v=Xx3tNahq54A" target="_blank">Video</a>
                | <a href="https://firebasestorage.googleapis.com/v0/b/bohdansehinwebsite.appspot.com/o/HP%207%3A1%20suite%201.pdf?alt=media&token=ea3bdf7e-4b14-46fb-b303-1b905c04fa58" target="_blank">PDF</a>
            </p>
            <h6>Хор</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'choir'">
                <b>{{piece.title}}</b> &middot;
                {{piece.instr}} &middot;
                {{piece.duration}}' &middot;
                {{piece.year}} &middot;
                <a href="https://soundcloud.com/nazar-skrypnyk/451a" target="_blank">Audio</a>
                | <a href="https://www.youtube.com/watch?v=Xx3tNahq54A" target="_blank">Video</a>
                | <a href="https://firebasestorage.googleapis.com/v0/b/bohdansehinwebsite.appspot.com/o/HP%207%3A1%20suite%201.pdf?alt=media&token=ea3bdf7e-4b14-46fb-b303-1b905c04fa58" target="_blank">PDF</a>
            </p>
            <h6>Голос/Хор і Ансамбль/Оркестр</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'voice/choir & ensemble/orchestra'">
                <b>{{piece.title}}</b> &middot;
                {{piece.instr}} &middot;
                {{piece.duration}}' &middot;
                {{piece.year}} &middot;
                <a href="https://soundcloud.com/nazar-skrypnyk/451a" target="_blank">Audio</a>
                | <a href="https://www.youtube.com/watch?v=Xx3tNahq54A" target="_blank">Video</a>
                | <a href="https://firebasestorage.googleapis.com/v0/b/bohdansehinwebsite.appspot.com/o/HP%207%3A1%20suite%201.pdf?alt=media&token=ea3bdf7e-4b14-46fb-b303-1b905c04fa58" target="_blank">PDF</a>
            </p>
            <h6>Електроніка</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'electronics'">
                <b>{{piece.title}}</b> &middot;
                {{piece.instr}} &middot;
                {{piece.duration}}' &middot;
                {{piece.year}} &middot; 
                <a href="https://soundcloud.com/nazar-skrypnyk/451a" target="_blank">Audio</a>
                | <a href="https://www.youtube.com/watch?v=Xx3tNahq54A" target="_blank">Video</a>
                | <a href="https://firebasestorage.googleapis.com/v0/b/bohdansehinwebsite.appspot.com/o/HP%207%3A1%20suite%201.pdf?alt=media&token=ea3bdf7e-4b14-46fb-b303-1b905c04fa58" target="_blank">PDF</a>
            </p>
            <h6>Театр/Сцена</h6>
            <p *ngFor="let piece of works | chapterizeWorks: 'theatre/stage'">
                <b>{{piece.title}}</b> &middot;
                {{piece.instr}} &middot;
                {{piece.duration}}' &middot;
                {{piece.year}} &middot; 
                <a href="https://soundcloud.com/nazar-skrypnyk/451a" target="_blank">Audio</a>
                | <a href="https://www.youtube.com/watch?v=Xx3tNahq54A" target="_blank">Video</a>
                | <a href="https://firebasestorage.googleapis.com/v0/b/bohdansehinwebsite.appspot.com/o/HP%207%3A1%20suite%201.pdf?alt=media&token=ea3bdf7e-4b14-46fb-b303-1b905c04fa58" target="_blank">PDF</a>
            </p>
        </div>
        <div id="chamberWorks"></div>
    </div>
</div>