#projects {
    margin-bottom: 0;
    #projectsBackground {
        background-image: url('../../../assets/projectsBack.jpg');
    }
    #projectsNav {
        background-color: white;
        padding: 10px 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
        z-index: 3;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin-bottom: 0;
            li {
                list-style-type: none;
                text-transform: uppercase;
                a {
                    cursor: pointer;
                }
                a:hover {
                    color: black;
                }
            }
        }
    }
    .projectsSection {
        height: 100vh;
        background-color: white;
        h4 {
            text-align: center;
            letter-spacing: 1px;
            padding-top: 25px;
        }
    }
}