#projects {
    margin-bottom: 0;
    #projectsBackground {
        background-image: url('../../../assets/projectsBack.jpg');
    }
    #projectsList {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 2000px;
        h2 {
            padding: 20px;
        }
        p {
            margin: 20px 30px;
            text-align: justify;
        }
    }
}