<div id="projects">
    <div id="projectsBackground" class="fixedBackground">
        <app-title-opacity [title]=title></app-title-opacity>
    </div>
    <app-transparent></app-transparent>
    <div id="projectsList">
        <h2>List of projects</h2>
        <h4>Контрасти</h4>
        <iframe width="640" height="480" src="https://www.youtube.com/embed/videoseries?list=PLY2gcgwMGDmuSsS6if5ka5TF7ZEK8BU3Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>
