<div id="projects">
    <div id="projectsBackground" class="fixedBackground">
        <app-title-opacity [title]=title></app-title-opacity>
    </div>
    <app-transparent></app-transparent>
    <div id="projectsNav">
        <ul>
            <li><a (click)="onScrollElem('projectsLong')">Регулярні проєкти</a></li>
            <li><a (click)="onScrollElem('projectsShort')">Разові проєкти</a></li>
        </ul>
    </div>
    <div id="projectsInner">
        <div id="projectsLong" class="projectsSection" *ngIf="projects">
            <h4>Регулярні проєкти</h4>
            <div class="regularProject" *ngFor="let project of projects | chapterizeProjects: true">
                <h6>{{project.title}}</h6>
            </div>
        </div>
        <div id="projectsShort" class="projectsSection" *ngIf="projects">
            <h4>Разові проєкти</h4>
            <div class="nonRegularProject" *ngFor="let project of projects | chapterizeProjects: false">
                <h6>{{project.title}}</h6>
            </div>
        </div>
    </div>
</div>
